version: '3.8'

services:
  mysql:
    image: mysql:5.7
    container_name: mysql_airtrack
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-airtrack_db}
      MYSQL_USER: ${MYSQL_USER:-airtrack_user}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: