version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: airtrack-rabbitmq
    restart: always
    ports:
      - "5672:5672"   # Porta AMQP
      - "15672:15672" # UI de administração
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data: